@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Admintrativo</h1>

<div class="section bgi-cover-center mt-5" data-background="images/static.jpg">
    <div class="content-wrap">
        <div class="container">

            <div class="row">

                <!-- Item 1 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="rs-icon-funfact">
                        <div class="icon">
                            <i class="fa fa-balance-scale"></i>
                        </div>
                        <div class="body-content">
                            <h2 style="color:#223555;" class="editable" id="casosProcessos" contenteditable="true" onkeypress="return event.charCode >= 48 && event.charCode <= 57">Digite o número aqui</h2>
                            <p class="uk18">Casos em processos</p>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="rs-icon-funfact">
                        <div class="icon">
                            <i class="fa fa-gavel"></i>
                        </div>
                        <div class="body-content">
                            <h2 style="color:#223555;" class="editable" id="casosEncerrados" contenteditable="true" onkeypress="return event.charCode >= 48 && event.charCode <= 57">Digite o número aqui</h2>
                            <p class="uk18">Casos encerrados</p>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="rs-icon-funfact">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="body-content">
                            <h2 style="color:#223555;" class="editable" id="clientesConfiaveis" contenteditable="true" onkeypress="return event.charCode >= 48 && event.charCode <= 57">Digite o número aqui</h2>
                            <p class="uk18">Clientes confiáveis</p>
                        </div>
                    </div>
                </div>

                <!-- Item 4 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="rs-icon-funfact">
                        <div class="icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="body-content">
                            <h2 style="color:#223555;" class="editable" id="equipeEspecialistas" contenteditable="true" onkeypress="return event.charCode >= 48 && event.charCode <= 57">Digite o número aqui</h2>
                            <p class="uk18">Equipe de especialistas</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <button id="salvarTodos" class="btn btn-primary">Salvar Todos</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Admin/Admin.js"></script>