@{
    ViewBag.Title = "Postar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/nwx1f75aso9amdwi4rlvltowzpq7z3jzybm2655mgdx6jzue/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/Content/TinyMCE/pt_BR/langs/pt_BR.js"></script>

<h2 class="text-black">Postagem</h2>

<div class="mt-1 mb-3">
    <label class="text-black">Título: <span class="text-danger">*</span></label>
    <input id="titulo" type="text" placeholder="Título" class="form-control text-black" max="255" />
</div>
<div class="mt-1 mb-3">
    <label class="text-black">Imagem de capa: <span class="text-danger">*</span></label>
    <input type="file" class="form-control-file text-black" id="imageInput" accept="image/*">
</div>
<div class="mt-1 mb-3">
    <label class="text-black">Escolha uma categoria: <span class="text-danger">*</span></label>
    <select class="form-control" id="categoriaPrincipal">
        <option>Categoria 1</option>
        <option>Categoria 2</option>
        <option>Categoria 3</option>
        <option>Categoria 4</option>
        <option>Categoria 5</option>
    </select>
</div>
<div class="mt-1 mb-3">
    <label class="text-black">Escolha uma finalidade: <span class="text-danger">*</span></label>
    <select class="form-control" id="categoriaSecundaria">
        <option>Categoria 1</option>
        <option>Categoria 2</option>
        <option>Categoria 3</option>
        <option>Categoria 4</option>
        <option>Categoria 5</option>
    </select>
</div>
<textarea>
</textarea>

<div class="d-flex justify-content-end mt-4">
    <div style="margin-bottom:15px!important;">
        <div style="margin-bottom:5px!important;">
            <div>
                <button type="button" class="btn btn-success" id="btnPostar">Postar <i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>


<script>
    var conteudoFormatado = ""

    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea',
            height: 600,
            language: 'pt_BR',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            setup: function (editor) {
                editor.on('init', function () {
                    conteudoFormatado = editor.getContent();
                });
            }
        });
    });
</script>
<script src="~/Scripts/Postar/Postar.js"></script>