
@{
    ViewBag.Title = "Postagens";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-black">Postagens</h2>




<script>
    var usuarioAdm = "@ViewBag.UsuarioAdm"
</script>
<script src="~/Scripts/Postagens/Postagens.js"></script>