<!DOCTYPE html>
<html lang="pt-br">

<!-- Mirrored from html.rometheme.pro/lawe/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Apr 2022 01:52:16 GMT -->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advocacia - ADM</title>
    <meta name="description" content="Lawe is responsive multi-purpose HTML5 template compatible with Bootstrap 4. Take your Startup business website to the next level. It is designed for lawyer, Attorney, businesses or any type of person or business who wants to showcase their work, services and professional way.">
    <meta name="keywords" content="advocate, attorney, business, consult, consultant, consulting, corporate, government, justice, law, lawyer, lawyers, legal, political">
    <meta name="author" content="rometheme.net">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="~/Content/images/LogoIcon.png">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS VENDOR
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/animate.min.css">
    <link href="~/Content/tabulator-master/tabulator-master/dist/css/tabulator.css" rel="stylesheet" />
    <script src="~/Content/tabulator-master/tabulator-master/dist/js/tabulator.js"></script>
    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />

    <script src="~/Scripts/vendor/modernizr.min.js"></script>
    <script src="https://kit.fontawesome.com/e023f9da74.js" crossorigin="anonymous"></script>
</head>

<body>

    <div>
        <h1>Pessoas</h1>
        <div class="container-fluid">
            <div id="table"></div>
        </div>
        <div class="fcopy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <p class="ftex">Copyright @DateTime.Now.Year &copy; - <span class="color-primary"></span><a href="https://www.linkedin.com/in/carlos-henrique-2021/">Carlos Henrique Lima Cicoti</a><span class="color-primary"> - Todos os direitos reservados</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- JS VENDOR -->
    <script src="~/Scripts/vendor/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/owl.carousel.js"></script>
    <script src="~/Scripts/vendor/jquery.magnific-popup.min.js"></script>

    <!-- SENDMAIL -->
    <script src="~/Scripts/vendor/validator.min.js"></script>
    <script src="~/Scripts/vendor/form-scripts.js"></script>

    <script src="~/Scripts/script.js"></script>
</body>
</html>
<script>

    setInterval(function () {        
    }, 300000)


    var deletarIcon = function (cell, formatterParams) {
        return "<i style='color:red;' class='fas fa-trash'></i>"
    }
    $.ajax({
        url: "/Home/getPessoas",
        method: "GET",
        dataType: "json",
        success: function (result) {

            table = new Tabulator("#table", {
                layout: "fitColumns",
                pagination: "local",
                paginationSize: 1000000,
                height: "100%",
                movableColumns: false,
                data: result,
                locale: "pt-br",
                langs: {
                    "pt-br": {
                        "pagination": {
                            "page_size": "Registros por página:",
                            "page_title": "Página",
                            "first": "Primeira",
                            "first_title": "Primeira Página",
                            "last": "Última",
                            "last_title": "Última Página",
                            "prev": "Anterior",
                            "prev_title": "Página Anterior",
                            "next": "Próxima",
                            "next_title": "Próxima Página",
                        },
                    },
                },
                columns: [
                        { title: "Nome", field: "Nome", resizable: false, hozAlign: "left", headerHozAlign: "left", tooltip: true },                        
                    { title: "Celular", field: "Celular", resizable: false, hozAlign: "left", headerHozAlign: "left", tooltip: true },                        
                    { title: "Titulo", field: "Titulo", resizable: false, hozAlign: "left", headerHozAlign: "left", tooltip: true },                        
                    { title: "Mensagem", field: "Mensagem", resizable: false, hozAlign: "left", headerHozAlign: "left", tooltip: true },
                    {
                        title: " ", field: "", formatter: deletarIcon, resizable: false, headerSort: false, width: 30, hozAlign: "center", headerHozAlign: "center", tooltip: true, cellClick: function (e, cell) {

                            let idPessoa = cell.getRow().getData().Id    

                            $.ajax({
                                url: "/Home/deletePessoa",
                                method: "GET",
                                dataType: "json",
                                data: {idPessoa:idPessoa},
                                success: function (result) {
                                    if (result != 0) {
                                        console.log("error")
                                    }
                                    else {
                                        window.location.reload(true)
                                    }
                                },
                                error: function (e) {
                                    //erro ao deletar a pessoa
                                }
                            })
                        }
                    }
                ]
            })
        },
        error: function (e) {
            //erro na consulta
        }
    })



</script>


<style>
    .img-fluid-consulta-gratuita {
        height: 570px !important;
    }

    .img-fluid-promessa {
        height: 531px !important;
    }
</style>