@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BANNER -->
<div class="section banner-page" data-background="images/banner-single.jpg">
    <div class="content-wrap pos-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex bd-highlight mb-3">
                        <div class="title-page">Áreas de atuação</div>
                    </div>
                    <div class="d-flex bd-highlight mb-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Áreas de atuação</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HOW TO HELP US -->
<div class="section">
    <div class="content-wrap">
        <div class="container">

            <div class="row">
                <!-- Item 1 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-laptop"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito Digital</h3>
                            <p>O objetivo é proporcionar as normatizações e regulamentações do uso dos ambientes digitais pelas pessoas, além de oferecer proteção de informações contidas nesses espaços e em aparelhos eletrônicos.</p>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-suitcase"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito Empresarial</h3>
                            <p>O objetivo é cuidar o exercício da atividade econômica organizada de fornecimento de bens ou serviços, a chamada empresa. Seu objeto de estudo é resolver os conflitos de interesses envolvendo empresários ou relacionados às empresas.</p>
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito do Consumidor</h3>
                            <p>O Direito do Consumidor é as relações jurídicas entre fornecedores de bens e serviços e seus consumidores</p>
                        </div>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito Trabalhista</h3>
                            <p>O direito do trabalho é um ramo do direito privado que é responsável por regular a relação jurídica entre trabalhadores e empregadores, baseado nos princípios e leis trabalhistas. O direito do trabalho é um dos ramos do direito privado mais importantes para a sociedade.</p>
                        </div>
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-people-arrows"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito Previdenciário</h3>
                            <p>O direito previdenciário é um ramo do direito público surgido da conquista dos direitos sociais no fim do século 19 e início do século 20. Seu objetivo é o estudo e a regulamentação do instituto seguridade social. </p>
                        </div>
                    </div>
                </div>
                <!-- Item 6 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-file-contract"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito Contratual</h3>
                            <p>O Direito Contratual é o ramo do Direito que trata das relações que surgem em todos os tipos de contratos, inclusive aqueles que estão presentes no exercício da sua empresa. Mas, afinal, o que seria um contrato? O contrato é o instrumento jurídico utilizado nas relações econômicas, fundado no acordo das partes.</p>
                        </div>
                    </div>
                </div>
                <!-- Item 7 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-university"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito Penal</h3>
                            <p>O direito penal ou direito criminal é a disciplina de direito público que regula o exercício do poder punitivo do Estado, tendo por pressuposto de ação delitos e como consequência as penas.</p>
                        </div>
                    </div>
                </div>
                <!-- Item 8 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="box-icon-1 text-center">
                        <div class="icon">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="body-content">
                            <h3>Direito tributário</h3>
                            <p>Direito Tributário é a área do direito responsável por determinar e fiscalizar a arrecadação de tributos, como taxas e impostos. Também chamado de Direito Fiscal, o segmento tem, como principal papel, o combate de possíveis abusos por parte do Fisco e o controle de pagamento dos contribuintes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->
<div class="section bg-primary">
    <div class="content-wrap py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="text-center text-white">
                        <h3>Obtenha Consultor Jurídico Gratuito : (17) 996170582</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

